body {
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
	text-align: center;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 113px
}

p {
	margin: 0;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.header {
	background-color: black;
	padding-top: 57px;
	color: #fff;
	padding-bottom: 20px
}

header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
}

.menu {
	display: flex;
	flex-grow: 1;
	justify-content: center;

}

.menu li a {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
	margin: 0 40px;
}

.nav {
	display: flex;
	align-items: center;
}

.centr {
	padding-top: 50px;
}

input {
	display: none;
}

.top-content {
	margin: 20px auto 20px auto;
	text-align: center;
}

.top-content label {
	display: inline-block;
	height: 100%;
	padding: 0 5px;
	margin: 0 30px;
	padding-bottom: 10px;
	cursor: pointer;

	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.1em;
	border-bottom: 1px solid transparent;
}

.top-content label:hover {
	border-bottom: 1px solid #000;
}

.photo-gallery {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 15px;
}

.pic {
	position: relative;
	height: 200px;
	border-radius: 10px;
	box-shadow: 3px 3px 5px lightgrey;
	cursor: pointer;
	transition: .5s;
}

.pic img {
	width: 100%;
	border-radius: 10px;
	transition: .5s;
	object-fit: cover !important;
	height: 100% !important;
}

.pic img:hover {
	transform: scale(1.1);
}

.container .pop-up {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	display: none;

}

.container .pop-up img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 8px;
    width: 100%;
    max-width: 80vh;
    max-height: 80vh;
}

.container .pop-up span {
	position: fixed;
	top: 10px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: #fff;
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	cursor: pointer;
}


#check1:checked~.container .photo-gallery .pic {
	transform: scale(1);
	opacity: 1;
	position: relative;
}


#check2:checked~.container .photo-gallery .Childhood {
	transform: scale(1);
	opacity: 1;
	position: relative;

}

#check2:checked~.container .photo-gallery .Selfie,
#check2:checked~.container .photo-gallery .Casual,
#check2:checked~.container .photo-gallery .Sleeping {
	opacity: 0;
	transform: scale(0);
	position: absolute;
	transition: 0s;
}


#check3:checked~.container .photo-gallery .Selfie {
	transform: scale(1);
	opacity: 1;
	position: relative;

}

#check3:checked~.container .photo-gallery .Childhood,
#check3:checked~.container .photo-gallery .Casual,
#check3:checked~.container .photo-gallery .Sleeping {
	opacity: 0;
	transform: scale(0);
	position: absolute;
	transition: 0s;
}

#check4:checked~.container .photo-gallery .Casual {
	transform: scale(1);
	opacity: 1;
	position: relative;
}

#check4:checked~.container .photo-gallery .Childhood,
#check4:checked~.container .photo-gallery .Selfie,
#check4:checked~.container .photo-gallery .Sleeping {
	opacity: 0;
	transform: scale(0);
	position: absolute;
	transition: 0s;
}

#check5:checked~.container .photo-gallery .Sleeping {
	transform: scale(1);
	opacity: 1;
	position: relative;
}

#check5:checked~.container .photo-gallery .Childhood,
#check5:checked~.container .photo-gallery .Selfie,
#check5:checked~.container .photo-gallery .Casual {
	opacity: 0;
	transform: scale(0);
	position: absolute;
	transition: 0s;
}


.footer {
	background-color: black;
	margin-top: 20%;
	margin-bottom: -20px;
}


.social {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}

.social a {
	font-size: 20px;
	display: inline-block;
	border: 1px solid beige;
	color: whitesmoke;
	width: 45px;
	border-radius: 8px;

}

.social a:hover {
	background-color: antiquewhite;
}

.copy-right {
	text-align: center;
	padding-bottom: 30px;
	color: whitesmoke;
}

.text-footer {
	padding-top: 20px;
	text-align: center;
	color: whitesmoke;
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.container {
		width: 750px;
	}

	body {
		font-size: 14px;
	}

	.menu li {
		margin: 0 20px;
	}

	.pic {
		position: relative;
		height: 150px;
	}
}


@media only screen and (min-width: 500px) and (max-width: 768px) {
	.container {
		width: 490px;
	}

	h3 {
		font-size: 20px;
	}

	h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	body {
		font-size: 12px;
	}

	.menu li {
		margin: 0 20px;
	}

	.photo-gallery {
		grid-template-columns: repeat(3, 1fr);
	}

	.pic {
		position: relative;
		height: 125px;
	}
}


@media only screen and (min-width: 375px) and (max-width: 499px) {
	.container {
		width: 370px;
	}

	h3 {
		font-size: 20px;
	}

	h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	body {
		font-size: 12px;
	}

	.menu li {
		margin: 0 10px;
	}

	.photo-gallery {
		grid-template-columns: repeat(3, 1fr);
	}

	.pic {
		position: relative;
		height: 100px;
	}
}