body {
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 113px	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170px;
	margin: 0 auto; 
}

.header {
	background: url('../img/header-bg.jpg') no-repeat center top / cover;
	padding-top: 57px;
	color: #fff;
	padding-bottom: 322px
}

header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
}

.menu {
	display: flex;
	flex-grow: 1;
	justify-content: center; 
	
}

.menu li a {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
	margin-right: 80px;
}

.nav {
	display: flex;
	align-items: center;
}

.offer {
	text-transform: uppercase;
	margin-top: 216px;
}

.offer p {
	font-size: 15px;
	letter-spacing: 0.1em;
	text-align: right;
	
}

.offer h1 {
	font-size: 50px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em;
	text-align: right;
}

.description {
	display: flex;
	justify-content: space-between;
}

.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}

.desc-left, .desc-right {
	width: 567px;
}

.footer
{
	background-color: black;
	margin-top: 20%;
	margin-bottom: -20px;
}


.social
{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.social a 
{
	font-size: 20px;
	display: inline-block;
	border: 1px solid beige;
	color: whitesmoke;
	width: 45px;
	border-radius: 8px;
	
}

.social a:hover
{
	background-color: antiquewhite;
}

.copy-right
{
	text-align: center;
	padding-bottom: 30px;
	color: whitesmoke;
}

.text-footer
{
	padding-top: 20px;
	text-align: center;
	color: whitesmoke;
}



.video{
	height: 30%; 
	width: 30%;
	position: relative;
    left: 15%;
    transform: translate(-50%, -15%);
}

.js-video {
    width: 100%;
    height: 100%;
	
}

.video__overlay 
{
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rba(0,0,0,.8) ;
	cursor: pointer;
	transition: all .2s ease;
}

.video__overlay:before {
	width: 40px; 
	height: 40px;
	border: 3px solid #fff;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.video__overlay.hide {
	opacity: 0;
	visibility: hidden;
}

.video__overlay:after{
	border: 6px solid transparent;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
	border-left-color: #fff;
	margin-left: 4px;
}
 .video :hover{
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
 }








.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}

.gallery img {
	height: 250px ;
	height: 250px ;
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}